/* Global things */
body {
    background: black; /* Ensures no white flash */
    color: var(--color);
    overflow: hidden;
    --color: #dfdfdf;
    --points: #ffffff;
    background-image: linear-gradient(to bottom, rgba(128, 38, 38, 1), rgb(59, 13, 13));
}

/* General text */
h1, h2, h3, b, input {
	display: inline;
	font-family: "Lucida Console", "Courier New", monospace
}

/* These are styles for different states of components. You can make layer-specific versions with .c.locked, for example */
.locked {
	background-color: #bf8f8f;
	cursor: not-allowed;
}

.energy.locked {
	background-color: #9c812e !important;
	cursor: default;
}

/* Can meens can be clicked/bought/etc */
.can {
	cursor: pointer;
}

.can:hover {
	transform: scale(1.15, 1.15);
	box-shadow: 0 0 20px var(--points)
}

.bought {
	background-color: #77bf5f;
	cursor: default;
}

.energy.bought {
	background-color: #f5ce5b !important;
	cursor: default;
}

#points {
	color: var(--points);
	text-shadow: 0 0 10px var(--points);
}
